Repository BF-FrontEnd-class/agile-development-group2-loruki-rebuild, pull requests merged in 2023-05, with the labels that each got.

#9 update project definition
  .cspell.json
  README.md
Labels: md

#13 update userpersonas2
  .cspell.json
  planning/constraints.md
  planning/user-personas.md
Labels: md

#14 add backlog
  planning/backlog.md
Labels: md, planning

#15 update images for userpersonas
  planning/user-personas.md
  public/developer.png
  public/sarah.png
Labels: md

#25 add design
  .cspell.json
  planning/design.md
Labels: md, planning

#55 add devstrategy
  index.html
  package.json
  planning/development-strategy.md
  styles/something.css
Labels: md, planning

#56 add navigation
  index.html
  styles/something.css
Labels: html, css

#58 add footer
  index.html
  styles/something.css
Labels: html, css

#59 add form and utilities.css
  index.html
  styles/something.css
  styles/utilities.css
Labels: html, css

#66 add design images
  public/design_docs.png
  public/design_features.png
  public/design_loruki.png
Labels: html, css

#74 add navigaton to docs.html
  pages/docs-page.html
  pages/features-page.html
Labels: html, css

#73 update the title on homepage
  .cspell.json
  index.html
  styles/something.css
Labels: html, css

#75 add test
  index.html
  styles/something.css
Labels: html, css

#78 update title of the homepage
  index.html
  styles/something.css
Labels: html, css

#77 add description
  index.html
  styles/something.css
Labels: html, css

#79 update statistics
  index.html
  styles/something.css
Labels: html, css

#82 add cloud to the homepage
  index.html
  styles/something.css
Labels: html, css

#83 add image
  index.html
  public/cli.png
  public/cloud.png
  public/docs.png
  public/favicon.png
  public/npm.png
  public/server.png
  public/server2.png
  styles/something.css
Labels: html, css

#84 add development strategy
  planning/development-strategy.md
Labels: html, css

#85 add footer to docs page
  pages/docs-page.html
Labels: html, css

#86 add features page logo
  pages/features-page.html
Labels: html, css

#87 add features navigation
  pages/features-page.html
Labels: html, css

#89 add introduction
  pages/docs-page.html
  styles/something.css
Labels: html, css

#91 add head
  pages/docs-page.html
  styles/something.css
Labels: html, css

#92 add description for features page
  .cspell.json
  pages/features-page.html
Labels: html, css

#93 add container grid to the features page
  pages/features-page.html
Labels: html, css

#94 add footer to features page
  pages/features-page.html
Labels: html, css

#95 add social media to footer features page
  pages/features-page.html
Labels: html, css

#96 add first image to features page
  pages/features-page.html
Labels: html, css

#97 add second image to features page
  pages/features-page.html
Labels: html, css

#100 resolve conflict
  .cspell.json
Labels: html, css

#101 page-wide fixes
  index.html
  pages/another-page.html
  pages/docs-page.html
  pages/features-page.html
  planning/communication.md
  planning/design.md
  planning/development-strategy.md
  planning/screenshot.jpg
  public/clojure.png
  public/csharp.png
  public/design-loruki.png
  public/design_loruki.png
  public/go.png
  public/node.png
  public/php.png
  public/python.png
  public/ruby.png
  public/scala.png
  styles/index.css
  styles/something.css
Labels: md, html, css

#90 add readme
  README.md
  planning/README.md
  public/loruki_screen.png
Labels: html, css

#102 add retrospective
  pages/features-page.html
  planning/retrospective.md
Labels: md

#103 Update README.md
  README.md
Labels: md

#104 fix links issues, fix styles import issue
  README.md
  index.html
  pages/docs-page.html
  pages/features-page.html
  styles/index.css
Labels: html, css
